.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.container h5, .container p {
  margin: 0.5rem 0;
}

.card {
  background: #161b22;
  border: 0.125rem solid #ddd;
  border-radius: 1rem;
  padding: 2rem;
}

.card > :first-child {
  margin-top: 0;
}

.card > :last-child {
  margin-bottom: 0;
}
